.NavBar {
    display: flex;
    flex-direction: row;
    height: 8vh;
    min-height: 8vh;

}

.NavBar #brand .logo {
    max-height: 7vh;
    pointer-events: none;   
}

.NavBar.bg-dark #brand {
    color: rgb(237, 237, 237);
}

.NavBar.bg-dark {
    color: rgb(237, 237, 237);
}

.NavBar.bg-light #brand {
    color: #282c34;
    font-size: 2rem;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.NavBar.bg-light {
    background-image: linear-gradient(0deg, #9f9f9f, #888888 80%);
}

.NavBar.bg-light .btn {
    color: #282c34;
    border-color: #282c34;;
}

.NavBar.bg-light .btn:hover {
    color: white;
    background-color: #282c34;
}

.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

@media (prefers-reduced-motion: no-preference) {
    .NavBar .logo {
        animation: Logo-spin infinite 20s linear;
    }
}

@keyframes Logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
}