.filter-controls {
    flex-wrap: wrap;
    justify-content: flex-end;
}

.filterDropdown > .dropdown-menu {
    width: 550px;
}

.filterDropdown > .dropdown-menu .filters {
    display: flex;
    flex-direction: row;
}

.checkmark {
    display: inline-block;
    font-size: 1.5rem;
}

@media (max-width: 1048px) {
    .filter-controls {
        width: 210px;
    }
}