.page {
    background: #2e5970;
    color: white;
    min-height: calc(100% - 8vh);
}

.page.light {
    background: #9f9f9f;
}

.page .form-container {
    justify-content: center;
    margin: 0 auto;
    padding: 2rem 0;
}