.list-container {
    padding: 1vh 1vw;

    display: flex;
    flex-direction: column;
    color: #282c34;
}

.list-container .list-item {
    margin: 1vh 0 2vh 0;
}

.list-container .list-item-group {
    display: flex;
    flex-direction: column;
    margin: 5px 0;
}

.list-container .list-item-group > .list-item:nth-child(2n-1) > * {
    background-color: #e5e5dc;
}

.list-container .list-item-group > .list-item:nth-child(2n) > * {
    background-color: #f5f5ea;
}

.list-container .list-item-group > .list-item:last-child > * {
    border-radius: 0 0 5px 5px;
}

.list-container .list-item-group  .list-item {
    margin: 0;
    border-radius: 0;
}

.list-container .list-item-group > .group-header {
    text-align: start;
    padding-left: 1em;
    border-bottom: none;
    min-height: 2em;
    font-weight: bold;
    background:  #598ba7;
}

.list-container .list-item-group > .group-header.collapsed {
    border-bottom: 1px solid black;
}


.list-container .list-item-group > .group-header {
    border-radius: 5px 5px 0 0;
}

.list-container .list-item-group > .empty-group-message {
    min-height: 2em;
    background: #f5f5ea;
    border-radius: 0 0 5px 5px;
}