.form {
    display: flex;
    flex-direction: column;
    
    margin: 0 auto;
}

.form .heading {
    color: #e5e5dc;
}

.form .subheading {
    color: #c4a35a;
}

.form .message {
    color: #e5e5dc;
}

.form .left-align {
    align-self: flex-start;
    text-align: left;
}

.form .center-align {
    align-self: center;
    text-align: center;
}

.form .form-input {
    color: black;
}

.form > .row {
    /* margin: 0.25rem; */
    justify-content: center;
}

/* Selector for error message of the form */
.form-error {
    color: #f52c39;
    font-size: medium;
    font-weight: 700;
    float: left;
    margin-left: 1rem;
}
