button.link {
    background: none;
    border: none;
    cursor: pointer;
    color: rgb(255, 84, 84);
}

button.link:hover {
    color: rgb(214, 64, 84);
    text-decoration: underline;
}

button.link:focus {
    outline: none;
    border: none;
}

button.link:active {
    color: rgb(255, 24, 24);
}
