.upload {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  overflow: hidden;
  background-color: rgb(206, 206, 206);
  padding: 0.5em 1em;
}

.content {
  display: flex;
  flex-direction: row;
  padding-bottom: 1em;
  box-sizing: border-box;
  width: 100%;
}

.files {
  display: flex;
  flex-direction: column;
  margin-left: 2em;
  padding-left: 1em;
  align-items: flex-start;
  justify-items: flex-start;
  flex: 1;
  overflow-y: auto;
}

.actions {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: flex-start;
  flex-direction: column;
  margin-top: 2em;
}

.header {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.title {
  margin-bottom: 2em;
  color: #555;
  flex: 11;
}

button.close-upload.link {
  flex: 1;
  align-self: flex-start;
}

.file-progress {
  width: 90%;
}

.filename {
    margin-bottom: 0.5em;
    font-size: 1em;
}

.successful-icon {
    opacity: 0.5;
    margin-left: 2em;
    width: 2em;
    position: relative;
    top: -2rem;
    left: 95%;
}

.progress-wrapper {
  margin-top: 0.5em;
  width: 20vw;
}
